// DOK
@import "__DOK/assets/css/main.scss";
// Personal
@import "utils/typography.scss";
@import "components/home.scss";
@import "components/index.scss";
@import "components/article.scss";


:root {
  --body-color: #f0f0f0;
  // --base-color: #000000;
  --action-color: #000000;
  --special-color-1: #00ff57;
  --special-color-2: #666;
  --content-max-width: 720px;
}

html {
  font-size: 16px;
  @include media("<sm") {
    font-size: 13px;
  }
}

.index__item--sub,
.index:not(.index--featured) .index__link {
  @extend %ts-body;
}

.header {
  margin-bottom: var(--size-md);
}

.index__title {
  margin-bottom: var(--size-lg);
}