// DOK
@import "__DOK/assets/css/main.scss";
// Personal
@import "utils/typography.scss";
@import "components/home.scss";
@import "components/index.scss";
@import "components/article.scss";


:root {
  --body-color: #cacaca;
  // --base-color: #000000;
  // --action-color: #0011ff;
}

.index__item--sub,
.index:not(.index--featured) .index__link {
  @extend %ts-body;
}

.header {
  margin-bottom: var(--size-md);
}

.index__title {
  margin-bottom: var(--size-lg);
}