.index a {
  text-decoration: none;
}

.index--list .index__item {
  margin-bottom: var(--size-xxs);
}

.index--featured {
  .index__link:hover .item__title {
    background-color: var(--base-color);
    color: var(--body-color);
  }
}

.index--grid figcaption a {
  text-decoration: underline;
}