// Article

.article {
  @extend %container-padding;
}
.article__title {
  @extend %ts-title-0;
  margin-bottom: var(--size-xs);
  a {
    background-color: var(--body-color);
    color: var(--base-color);
    text-decoration: none;
  }
}
.article__content {
  margin-top: var(--size-md);
  & > *:not(.lg):not(pre) {
    max-width: var(--content-max-width);
  }
}

// Featured image
.article__featured {
  margin-top: var(--size-lg);
}

// Table of content
.article__toc {
  margin-top: var(--size-lg);
  margin-bottom: var(--size-lg);
  @extend %ts-small;
}
.toc__title {
  @extend %ts-title-1;
  margin-bottom: var(--size-sm);
}
.toc__title--sub {
   @extend %ts-title-3;
   margin-top: var(--size-xs);
}
.toc__list {
  &,
  &--sub {
    li {
      @extend .nav__item;
      padding-left: var(--size-sm);
      display: block;
      border-left: var(--border-sm) dotted var(--base-color);
    }
  }
}

// Figure
.article figure {
  img {
    width: 100%;
  }
  figcaption {
    margin-top: var(--size-xxs);
    @extend %ts-small;
  }
}
.article figure.sm {
  max-width: 100%;
  width: 100%;
  @include media('>sm') {
    width: calc(#{var(--content-max-width)}/2 - #{var(--size-sm)}/2);
    margin-right: var(--size-sm)/2;
  }
  display: inline-block;
  vertical-align: top;
}

// Article sub
.article--sub {
  border-top: var(--border-sm) solid var(--base-color);
  margin-top: var(--size-lg);
  padding-top: var(--size-lg);
}

// Article footer
.article footer {
  margin-top: var(--size-xl);
}

// Todo's
.ts .todo {
  display: table;
  @extend %font-body-italic;
  border: var(--border-sm) dotted var(--base-color);
  padding: var(--size-sm);
}

// Button
.ts .btn {
  display: table;
  background-color: var(--action-color);
  color: var(--base-color);
  padding: var(--size-lg);
  border: var(--border-sm) solid var(--base-color);
}

// Video
.ts video {
  max-width: 100%;

}