// Intro

.intro {
  margin-bottom: var(--size-xl);
  @extend %container-padding;
  max-width: var(--content-max-width);
  p {
    @extend %ts-title-0;
  }
  small {
    display: block;
    margin-top: var(--size-sm);
  }
}