{% extends "base.html" %}

{% block content %}

<article class="article">
  <!-- title -->
  <h1 class="article__title">{{ article.title }}</h1>
  <!-- parent -->
  {% if article.parent %}
    {% for parent in article.parent %}
      <p class="article__parent">This article is part of: <a href="{{ parent.slug }}.html">{{ parent.title }}</a>.</p>
    {% endfor %}
  {% endif %}
  <!-- tags -->
  {% if article.tags %}
    <p class="article__tags">Tags:
      {% for tag in article.tags %}
      <a href="{{ tag }}.html">#{{ tag }}</a>
      {% endfor %}
    </p>
  </ul>
  {% endif %}
  <!-- featured image -->
  {% if article.featured_image %}
  <img src="{{ article.featured_image }}" alt="" class="article__featured">
  {% endif %}
  <!-- toc -->
  {% if (article.toc) or (article.childs) %}
  <section class="article__toc">
    <h2 class="toc__title">Table of content</h2>
    {% if article.toc %}
    <div class="toc__list">{{ article.toc }}</div>
    {% endif %}
    {% if article.childs %}
      {% for child in article.childs %}
        <h3 class="toc__title--sub"><a href="{{ article.slug}}.html#{{ child.slug}}">{{ child.title }}</a></h3>
        {% if child.toc %}
          <div class="toc__list--sub">{{ child.toc }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
  {% endif %}
  
  <section class="article__content ts">
    {{ article.content }}
  </section>

  <footer>
    <p>✎ <span>Created</span> {{ article.publication_date }}</p>
    <p>⁂ <span>Updated</span> {{ article.last_update }}</p>
  </footer>
  
  {% if article.childs %}
    {% for child in article.childs %}
    <article class="article--sub" id="{{ child.slug }}">
      <!-- title -->
      <h1 class="article__title">{{ child.title }} <a href="{{ child.slug }}.html">●</a></h1>
      <!-- tags -->
      {% if article.tags %}
      <p class="article__tags">Tags:
        {% for tag in article.tags %}
        <a href="{{ tag }}.html">#{{ tag }}</a>
        {% endfor %}
      </p>
      {% endif %}
      <!-- content -->
      <section class="article__content ts">
        {{ child.content }}
      </section>
      <footer>
        <p>✎ <span>Created</span> {{ child.publication_date }}</p>
        <p>⁂ <span>Updated</span> {{ child.last_update }}</p>
      </footer>
    </article>
    {% endfor %}
  {% endif %}
  
</article>
{% endblock %}