{% extends "base.html" %}
{% block content %}

<!-- final project -->
<section class="index">
  <h2 class="index__subtitle">Fab Academy: Final project <a href="fabac-finalproject-overview.html">⚑</a></h2>
  <ul class="index__list">
    {% for post in projects %}
    {% if not 'draft' in post.tags %}
    <li class="index__item">
      <a href="{{ post.slug }}.html" class="index__link {% if 'empty' in post.tags %}empty{% endif %}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<!-- assignments -->
<section class="index">
  <h2 class="index__subtitle">Fab Academy: Assignments</h2>
  <ul class="index__list">
    {% for post in assignments %}
      {% if not 'draft' in post.tags %}
        <li class="index__item">
          <a href="{{ post.slug }}.html" class="index__link {% if 'empty' in post.tags %}empty{% endif %}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<!-- pages -->
<section class="index">
  <h2 class="index__title">Pages</h2>
  <ul class="index__list">
    {% for post in pages %}
      {% if not 'draft' in post.tags %}
        <li class="index__item"><a href="{{ post.slug }}.html" class="index__link">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>


{% endblock %}
