<!doctype html>
<html lang="en">

  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title property="schema:name">{{ settings.title }} - {{ settings.description }}</title>
    <meta name="description" content="{{ settings.description }}">
    <meta property="schema:name" content="{{ settings.title }}">
    <meta property="schema:description" content="{{ settings.description }}">
    <link rel="stylesheet" href="assets/main.min.css">
  </head>

  <body class="page page--{{ page_class }}">
    <main class="main">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="index.html" class="nav__link">{{ settings.title }}</a>
            </li>
            <li class="nav__item">
              <a href="content.html" class="nav__link">content</a>
            </li>
            {% if settings.flux.visibility %}
            <li class="nav__item">
              <a href="{{ settings.flux.slug }}.html" class="nav__link">{{ settings.flux.title }}</a>
            </li>
            {% endif %}
            <li class="nav__item">
              <a href="about.html" class="nav__link">about</a>
            </li>
          </ul>
        </nav>
      </header>
      {% block content %}{% endblock %}
      <footer class="footer">
        <p>{{ settings.title }} ☼ 2020 — <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA 4.0</a></p>
      </footer>
    </main>
  </body>

</html>
