// Typography

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  word-spacing: -0.15em;
}

// %ts-link {
//   color: var(--action-color);
//   background-color: var(--body-color);
//   &:hover {
//     color: var(--body-color);
//     background-color: var(--action-color);
//     text-decoration: none;
//   }
// }