// Colors
$white: #FFFFFF;
$black: #000000;
$blue: #0000FF;
$yellow: #F9F9AC;
$gray: #dbdbdb;

// Colors abstraction
$base-color: $black;
$body-color: $white;
$action-color: $gray;

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1920px
);

// Fonts
$font-body: "jetbrains-regular", Helvetica, Arial, sans-serif;
$font-body-italic: "jetbrains-italic", Helvetica, Arial, sans-serif;
$font-body-bold: "jetbrains-bold", Helvetica, Arial, sans-serif;
$font-body-bold-italic: "jetbrains-bold-italic", Helvetica, Arial, sans-serif;

// Size
$size-base: 1rem;
$size-xxs: $size-base / 4 * 1;
$size-xs: $size-base / 4 * 2;
$size-sm: $size-base / 4 * 3;
$size-md: $size-base / 4 * 4;
$size-lg: $size-base / 4 * 5;
$size-xl: $size-base / 4 * 6;
$size-xxl: $size-base / 4 * 8;

%container-padding {
  padding-left: $size-xl;
  padding-right: $size-xl;
}

// Misc
$border-sm: 1px;
$content-max-width: 640px;